{% extends 'Emails/layoutap.html.twig' %}

{% block hero %}
	{% include 'Emails/assets/images/u_announcement.svg.twig'

		with {
				width: "200",
		}
	%}
{% endblock %}
{% block title %}
	Attestation
{% endblock %}
{% block content %}
	<table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableTitleDescription" style="">
		<tbody>
			<tr>
				<td
					align="center" valign="top" style="padding-bottom: 10px;" class="mediumTitle">
					<!-- Medium Title Text // -->
					<p class="text" style="color: rgb(51, 65, 85);font-family: 'Overpass', sans-serif; font-size: 18px; font-weight: 500; font-style: normal; letter-spacing: normal; line-height: 26px; text-transform: none; text-align: center; padding: 0px; margin: 0px;"></p>
				</td>
			</tr>

			<tr>
				<td
					align="center" valign="top" style="padding-bottom: 20px;" class="description">
					<!-- Description Text// -->
					<p class="text" style="color: rgb(102, 102, 102); font-family: 'Overpass', sans-serif; font-size: 14px; font-weight: 400; font-style: normal; letter-spacing: normal; line-height: 22px; text-transform: none; text-align: justify; padding: 0px; margin: 0px;">
						Attached are the files with the extracted data from Attestation workflow.
																																																																		Based on
						{{ totalProjects }}
						projects and
						{{totalDocs}}
						docs.
					</p>
					<p class="text" style="color: rgb(102, 102, 102); font-family: 'Overpass', sans-serif; font-size: 14px; font-weight: 400; font-style: normal; letter-spacing: normal; line-height: 22px; text-transform: none; text-align: justify; padding: 0px; margin: 0px;">
						Projects:
					</p>

					<ul style="color: rgb(102, 102, 102); font-family: 'Overpass', sans-serif; font-size: 14px; font-weight: 400; font-style: normal; letter-spacing: normal; line-height: 22px; text-transform: none; text-align: justify; padding: 10px; margin: 10px;">

						{% for projectId in projectIds %}
							<li>{{ projectId }}</li>
						{% endfor %}
					</ul>
					{% if filesError %}
					<div>
					<p class="text" style="color: rgb(102, 102, 102); font-family: 'Overpass', sans-serif; font-size: 14px; font-weight: 400; font-style: normal; letter-spacing: normal; line-height: 22px; text-transform: none; text-align: justify; padding: 0px; margin: 0px;">
						Files that failed to download or process:
					</p>
					{% endif %}
					<ul style="color: rgb(102, 102, 102); font-family: 'Overpass', sans-serif; font-size: 14px; font-weight: 400; font-style: normal; letter-spacing: normal; line-height: 22px; text-transform: none; text-align: justify; padding: 10px; margin: 10px;">
						{% for file in filesError %}
							<li>{{ file }}</li>
						{% endfor %}
					</ul>
					</div>

				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
