<!-- Email Wrapper Header Open //-->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%" class="wrapperWebview">
    <tbody>
    <tr>
        <td align="center" valign="top">
            <!-- Content Table Open // -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td align="center" valign="middle" style="padding-top: 40px; padding-bottom: 40px;" class="emailLogo">
                        <!-- Logo and Link // -->
                        <a href="#" target="_blank" style="text-decoration:none;" class="">
                            <img src="https://imagedelivery.net/J0SC3p_qqwQ9UBTxIQllsg/08096ac7-8f4a-43bb-3ceb-57617493b700/logo" alt="" width="300" border="0" style="width: 100%; max-width: 300px; height: auto; display: block;" class="">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Content Table Close // -->
        </td>
    </tr>
    </tbody>
</table>
<!-- Email Wrapper Header Close //-->
